<template name="createAnswerForm">

    <!-- Answers Form -->
    {{#if questionClosed}}
        <div class="ui segment">

            <p>Have an answer to this question ?
                <br>
                please read the previous answers, you can use comments for clarification and discussions, use answers to add new answers only</p>

            <form class="ui form" id="create-answer-form">

                <!-- Description -->
                <div class="field">
                    <div class="ui top attached tabular menu">
                        <a class="active item" id="text">

                            <label>Description</label>
                        </a>
                        <a class="item" id="preview">
                            <label>Preview</label>
                        </a>
                    </div>
                    <div class="ui bottom attached segment">
                        <textarea name="answer" placeholder="Description" id="description"></textarea>

                        <label id="previewText">
                            {{#markdown}}{{description}}{{/markdown}}
                        </label>

                    </div>
                </div>

                <!-- /Description -->

                <input type="submit" class="ui fluid large green submit button" value="Answer">
            </form>
        </div>
    {{/if}}
    <!-- /Answers Form -->
</template>
